html {
  -webkit-appearance: none;
  display: inline;
  padding: 0;
  border: 0;
  outline: 0;
}

p, h3, h2, h1, a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #f0f1f1;
  margin-top: -10px;
}

.content {
  margin-top: 20px;
}

.welcomeText {
  font-size: 20px;
  color: #00FFFF;
}

.wrapper {
  background-color: #ffffff;
  margin:-8.5px;
}

.navbar {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  height: 60px;
  margin: 0px;
  z-index: 1;
}

.formHead {
  font-size: 17px;
  color: #008000;
}


